<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sample.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @sample.price %>
</p>

<p>
  <strong>Started at:</strong>
  <%= @sample.started_at %>
</p>

<%= link_to 'Edit', edit_sample_path(@sample) %> |
<%= link_to 'Back', samples_path %>
